/*--------------------------------------------------------------
  # Doctors
  --------------------------------------------------------------*/
  .doctors {
    background: #fff;
    margin-top: 20px;
  }
  
  .doctors .pic {
    margin: auto;
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
  }

.doctors .pic:hover {
    transform: scale(1.1);
}
  
.up {
    font-size:20px;
    font-weight: 600;
    padding-top: 15px;
}
.down {
    padding-top: 10px;
}


.like-share-plugin {
    margin: 10px 0 20px 0;
}


