.booking-modal-container {
    min-width: 70%;
    .booking-modal-content {
        // height: 800px;
        display: flex;
        flex-direction: column;

        .booking-modal-header {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            
            .section-title {
                padding: 0;

                h2 {
                    font-size: 22px !important;
                }

                .right {
                    float: right;
                    cursor: pointer;
                    top: -2rem;
                }
            }
        }

        .booking-modal-body {
            padding: 15px;
            height: 100%;
        }

        .booking-modal-footer {
            border-top: 1px solid #ddd;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            gap: 15px;

            button.confirm {
                background: #1977cc;
                border: 0;
                padding: 10px 35px;
                color: #fff;
                transition: 0.4s;
                border-radius: 50px;
            }
            button.cancel {
                background: #dc3545;
                border: 0;
                padding: 10px 35px;
                color: #fff;
                transition: 0.4s;
                border-radius: 50px;
            }
        }
    }
}