//reset slick slider
.slick-prev {
    left: -10px !important;
    // position: relative !important;
    z-index: 100 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #fff !important;
    }
}

.slick-next {
    right: -10px !important;
    // position: relative !important;
    z-index: 100 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #fff !important;
    }
}

// @media (max-width: 575px) {
//     .slick-next  {
//     margin-right: 1rem;
//     }
// }

.slick-disabled {
    display: none !important;
}

.slick-prev:before ,.slick-next:before {
    // content: "\e257" !important;
    font-family: FontAwesome !important;
    color:#1977cc !important;
}
